{% extends "orders/base.html" %}
{% load static %}

{% block script %}
<script src="{% static 'orders/register.js' %}"></script>
{% endblock %}

{% block title %}
Registro
{% endblock %}

{% block main %}

<div class="register-form">
    <form action="{% url 'orders:register' %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="first">Nombre:</label>
                <input type="text" class="form-control" id="first" name="first_name" autofocus required>
            </div>
            <div class="form-group col-md-6">
                <label for="surname">Apellido:</label>
                <input type text="text" class="form-control" id="surname" name="last_name" required>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <div class="alert alert-danger" role="alert" id="unCheck" hidden></div>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="uname" required>
            <small id="uname" class="form-text text-muted">Debe contener entre 8 y 16 caracteres y contener números, letras minúsculas
                y mayúsculas.</small>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password1" aria-describedby="pwd" required>
                <small id="pwd" class="form-text text-muted">Debe contener entre 8 y 16 caracteres y contener números, letras minúsculas
                    y mayúsculas.</small>
            </div>
            <div class="form-group col-md-6">
                <label for="confirm">Confirmar contraseña:</label>
                <input type="password" class="form-control" id="confirm" name="password2" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="alert alert-danger" role="alert" id="pwCheck" hidden></div>
            </div>
            <div class="form-group col-md-6">
                <div class="alert alert-danger" role="alert" id="pwMatch" hidden></div>
            </div>
        </div>

        <button type="submit" class="btn btn-success" id="register" disabled>Registrarse</button>
    </form>
</div>
{% endblock %}
